

.action-btns-set-container {
    display: inline-block;
    vertical-align: top;
}

.left-aligned {
    text-align: right;
    float: left;
    padding-left: 20px;

}

.right-aligned {
    text-align: left;
    float: right;
    padding-right: 20px;

}

.action-btn-container {
    vertical-align: center;
    width: inherit;
    position: relative;
}

.action-btn {
    width: 80px;
    height: 80px;
    margin-bottom: 14px;
    border-radius: 12px;
    background-color: var(--primary-btn-color);
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    border-color: rgba(255, 255, 255,0.5);
    border-style: solid;
    border-width: 3px;
    padding: 6px;
}


.action-btn:hover {
    background-color: var(--primary-btn-hover-color);
    border-color: rgb(206, 170, 136);
}

.btn-disabled{
    background-color: rgba(128, 128, 128,0.7);
    cursor: not-allowed;
}
.btn-disabled:hover{
    background-color: rgba(128, 128, 128,0.7);
    border-color: rgba(255, 255, 255,0.5);
}

.tooltip {
    position: absolute;
    z-index: 4;
    background-color: rgb(83, 51, 10);
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: 0px 0px 12px rgba(2, 2, 3, 0.7);
}

.tt-left {
left: calc(100% + 12px) ;
top: 20px
}

.tt-right {
    right: calc(100% + 12px) ;
    top: 20px
}

.tt-top {
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tt-bottom {
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip p {
    margin-block: 0px;
    color: white;
    font-family: gunplay;
}




.safe-click-img {
    height: 100%;
    width: 100%;
    background-image: url('../img/helmet.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mine-exterminator-img{
    height: 100%;
    width: 100%;
    background-image: url('../img/Explosion.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.undo-img{
    height: 100%;
    width: 100%;
    background-image: url('../img/undo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.moon-img{
    height: 100%;
    width: 100%;
    background-image: url('../img/moon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sun-img{
    height: 100%;
    width: 100%;
    background-image: url('../img/sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.board-img{
    height: 100%;
    width: 100%;
    background-image: url('../img/board.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.hints-btns-container{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.hint-btn-container{
    display: inline-block;
    position: relative;
}

.hint-btn {
    height: 50px;
    width: 50px;
    padding: 3px;
    margin-inline: 4px;
}

.hint-img {
    height: 100%;
    width: 100%;
    background-image: url('../img/hint.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* hints */
.hint-selected {
    background-color: rgb(240, 218, 23);
}
.hint-selected:hover {
    background-color: rgb(235, 219, 77);
}

.mega-hint-img {
    height: 100%;
    width: 100%;
    background-image: url('../img/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}