

.board-container {
    display: inline-block;
    vertical-align: top;
    margin-inline: 40px;
}

.board {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    
    /* margin-inline: auto; */
}

.cell {
    width: 34px;
    height: 34px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-width: 3px;
    position: relative;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.cell.revealed {
    cursor: default;
}

.cell.revealed:hover {
    background-color: rgba(255, 255, 255, 0);
}

.cell.exploded {
    background-color: red;
    cursor: default;
}

.cell.hint-hover:hover{
    background-color: rgba(255, 255, 0, 0.3);
}

.cell.safe{
    background-color: rgba(0, 255, 21, 0.3);
}

.cell.safe:hover{
    background-color: rgba(0, 255, 21, 0.3);
}

.cell.highlight{
    background-color: rgba(255, 251, 0, 0.5);
}

.cell.highlight:hover{
    background-color: rgba(255, 251, 0, 0.5);
}

.cell-img {
    display: block;
    height: 100%;
    width: 100%;

}

.num-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.num-container p {
    font-size: 16px;
    margin-block: 8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.88);
    

}

.num1 {
    color: rgb(0, 0, 0);
}

.num2 {
    color: rgb(255, 230, 0);


}

.num3 {
    color: rgb(138, 84, 3);
}

.num4 {
    color: rgb(182, 3, 3);
}

.num5 {
    color: rgb(255, 0, 221);
}

.num6 {
    color: rgb(255, 0, 0);
}

.num7 {
    color: rgb(255, 0, 0);
}

.num8 {
    color: rgb(255, 0, 0);
}

.cell.flagged {
    cursor: default;
}


.unclickable{
    cursor:default;
}
.unclickable:hover{
    cursor:default;
    background-color: rgba(255, 255, 255, 0);
}