@font-face {
    font-family: 'dirty-war';
    src: url('../fonts/dirty-war.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-btn-color: rgba(165, 116, 42, 0.6);
    --primary-btn-hover-color: rgba(165, 116, 42, 1);
}


html {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    left: 0;
    transition: left 0.05s;
    min-height: 100vh;

    background-image: url('../img/war-zone-land-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* overflow: hidden; */
    text-align: center;
}

button {
    transition: background-color 0.3s;
}

.shake {
    left: 20px;
}

h1.game-title {
    font-family: dirty-war;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 6px 5px 6px rgba(0, 0, 0, 0.88);
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}


.board-and-action-btns-container {
    display: table;
    margin-inline: auto;
}

/* with the help of google (= */
[hidden] {
    display: none !important;
}