
.top-game-info-container{
    height: 100px;
}


.reset-btn-container {
display: inline-block;
position: relative;
}

.reset-btn {
    position: relative;
    overflow: hidden;
}

.reset-btn img {
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.lives-count-container{
    display: inline-block;
vertical-align: top;
}
